<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.zcbdqn.labelprinter">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".context.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectTemplateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PrintTemplateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.DemoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.SettingPrintActivity" />
        <activity
            android:name=".activity.Demo2Activity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.Demo3Activity" />
        <activity android:name=".activity.Demo4Activity" />
        <activity android:name=".activity.Demo5Activity" />
        <activity android:name=".activity.Demo6Activity" />
        <activity android:name=".activity.CreateTemplateActivity" />
        <activity android:name=".activity.PrintBigTemplateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" ></activity>
    </application>

</manifest>